.color-blue {
  color: #1b90e3;
}

.color-dark {
  color: #1c2022;
}

.color-peach {
  color: #ffd399;
}

.bg-blue {
  background-color: #1b90e3;
}

.bg-dark {
  background-color: #1c2022;
}

.bg-peach {
  background-color: #ffd399;
}